.display-4 {
    text-align: center;
}

.lead {
    text-align: center;
}

#quizarea {
    display: none;
}

#resultscreen {
    display: none;
}

#finishedbutton {
   margin-top: 20px;
   margin-bottom: 40px;
   position: absolute;
   left: 50%;
}

